<!-- Based on https://pin.net.au/docs/guides/payment-forms
and modified from django_pinpayments pin_headers.html

NOTE: This requires the template checkout.html modifications in this
app, which add the following:

id='checkout-form' on the form element
name='next' on the 'Next' submit button.

If you override the checkout.html template, make sure your template also
contains these changes.
-->

<script src='https://cdn.pin.net.au/pin.v2.js' type='text/javascript'></script>
<script type='text/javascript'>
    $(function() {
        var pinApi = new Pin.Api('{{ pin_public_key }}', '{{ pin_environment }}');

        var form = $('form.checkout-form'), 
            nextButton = form.find(":submit[name='next']"),
            backButton = form.find(":submit[name='back']");

        backButton.click(function(e) {
            // Clicking the 'back' button is always OK.
            // Clear previous errors
            $("#id_pinjs_errors").val("");
            // continue with form submission
            return true;
        })

        nextButton.click(function(e) {
            // 'Next' button was clicked.
            e.preventDefault();

            // Clear previous errors
            $("#id_pinjs_errors").val("");

            // Disable the submit button to prevent multiple clicks
            nextButton.attr({disabled: true});

            // Fetch details required for the createToken call to Pin Payments
            var card = {
                number: $('#id_card_number').val(),
                name: $('#id_card_name').val(),
                expiry_month: $('#id_card_expiry_month').val(),
                expiry_year: $('#id_card_expiry_year').val(),
                cvc: $('#id_card_ccv').val(),
                address_line1: $('#id_billing_detail_street').val(),
                address_line2: '',
                address_city: $('#id_billing_detail_city').val(),
                address_state: $('#id_billing_detail_state').val(),
                address_postcode: $('#id_billing_detail_postcode').val(),
                address_country: $('#id_billing_detail_country').val()
            };

            // Request a token for the card from Pin Payments
            pinApi.createCardToken(card).then(handleSuccess, handleError).done();
        });

        function handleSuccess(card) {
            // Set the card token in the form
            $("#id_card_token").val(card.token);
            $("#id_pinjs_errors").val("");

            // Resubmit the form to the server
            // The card_number and card_ccv will not be submitted to the server,
            // as the form inputs have no 'name' attribute.
            // Instead the card_token is submitted to the server.
            form.get(0).submit();
        };

        function handleError(response) {
            // Store the error messages in the pinjs_errors hidden form field
            // These become form validation errors in PinOrderForm.clean()
            // See forms.py
            var errmsgs = JSON.stringify(response.messages);
            $("#id_pinjs_errors").val(errmsgs);

            // Re-enable the next button
            nextButton.removeAttr('disabled');

            // Resubmit the form to the server, errors should result.
            form.get(0).submit();
        };
    });
</script>
